<script>
function eventCalendar(){
  return $('#calendar').fullCalendar
  ({googleCalendarApiKey: gon.google_calendar_api_key,
    eventSources: getEventSources(),
  }   //to show eventSources from function, i have to remove the second
     // array item in UnitIds, thats the primary calendar.. im not longer going to
    // display events from primary because that persists across each calendar
   // instead I am going to filter by bookings.unit.calendar_id == params[:calendar_id]
  // this was done in the controller... then I'll add 'events:' to fullcalendar return function
 // these events will take @bookings and iterate and return the booking and required params..
 // must format as hash or array. look at fullcalendar docs.
  );
};

function clearCalendar() {
  $('#calendar').fullCalendar('delete');
  $('#calendar').html('');
};

$(document).on('turbolinks:load', function(){
  eventCalendar();
});
$(document).on('turbolinks:before-cache', clearCalendar);

function getEventSources(){
  const idKey = 'googleCalendarId'
  const colorKey = 'color'
  const textColorKey = 'textColor'

  const unitIds = [ '<%= raw @unit.calendar_id %>' ]
  const colorStyles = ['#FF7171']
  const textColorStyles = ['white']

  eventSources = []

  for(i=0; i < unitIds.length; i++) {
    var obj = {}
    obj[idKey] = unitIds[i]
    obj[colorKey] = colorStyles[i]
    obj[textColorKey] = textColorStyles[i]
    eventSources.push(obj);
  }
  return eventSources
};
</script>

<div class="col-sm-12"id="calendar-container">
  <div id="calendar" style='padding:20px'></div>
</div>
