<h1 style='text-align:center'> Reservations </h1>
<div class="row">
  <div class='container' style='text-align:center' id='booking-container'>
    <div class='col-sm-12 style='text-align:center' id='booking-wrapper'>
      <%= render @bookings %>
    </div>
  </div>
</div>
