
<div class='container' style='text-align:center'>
  <h2>Booking Requested!</h2>
    <h1>Now wait while your cleaner checks their schedule, you'll be notified when they confirm or deny your request</h1>
</div>
