
<div class='container' style='text-align:center'>
  <h2 style='color:#ff7171'>Booking Requested!</h2>
    <h4 style='font-size:2rem; font-weight:300'>Now wait while your cleaner checks their schedule, you'll be notified when they confirm or deny your request</h4>
    <%= link_to 'Dashboard', dashboard_path %>
</div>
