
<script>
function eventCalendar(){
  return $('#calendar').fullCalendar
  ({
    googleCalendarApiKey: gon.google_calendar_api_key, //get a prod apikey so it will work in prod
    eventSources: getEventSources(),
    eventRender: function(event, element, view) {
      element.find('.fc-content').css({'height':'19px', 'overflow':'scroll'});
    },
    header: {
      left:'',
      center:'title',
      right:'today prev,next'
    },
    }
  );
};

function clearCalendar() {
  $('#calendar').fullCalendar('delete');
  $('#calendar').html('');
};

$(document).on('turbolinks:load', function(){
  eventCalendar();
});
$(document).on('turbolinks:before-cache', clearCalendar);

function getEventSources(){
  const calendarList = <%= raw @list %>
  const idKeyArray = calendarList.map(cal => {
  return 'googleCalendarId'
  })
  const colorKeyArray = calendarList.map(cal => {
  return 'color'
  })
  const textColorKeyArray = calendarList.map(cal => {
  return 'textColor'
  })

  const calendarIds = calendarList.map(cal => {
    return cal
  })

  const colorStyles = ['#FF7171', '#ade8ad','#bd95ff', '#8ac9e4','#fffb92',
                  '#752323', '538a31', '#135c6d', '#ffa2c4','f6edff' ]

  const textColorStyles = ['white']

  eventSources = []

  for(i=0; i < idKeyArray.length; i++) {
    var obj = {}
    obj[idKeyArray[i]] = calendarIds[i]
    obj[colorKeyArray[i]] = colorStyles[i]
    obj[textColorKeyArray[i]] = textColorStyles[0]
    eventSources.push(obj);
  }
  return eventSources
};
</script>


<div id='calendar'></div>
