<%= image_tag("kitchen.jpg", :alt => "rss feed", :align=>'middle', :id=>'landingimage') %>
  <div class='centered'>
    <h5 class="card-title">CleanHost</h5>
    <p class="card-text">Where Host's and Cleaner's meet</p>
    <%= link_to 'Dashboard', dashboard_path, class: 'btn btn-primary' , id: 'dashboard-btn' %>
</div>
