
  <div class='centered'>
    <h5 class="card-title" style='color:#ff7171'>CleanHost</h5>
    <p class="card-text" style='color:black'>Where Hosts and Cleaners meet</p>
    <%= link_to 'Dashboard', dashboard_path, class: 'btn btn-primary' , id: 'dashboard-btn' %>
</div>
