  <div class="card text-center" style="margin-top: 20rem;"">
        <div class="card-body">
          <h5 class="card-title">Gameplace Rails App</h5>
          <p class="card-text">Your leading source for Gaming, Sports and Entertainment news</p>
          <%= link_to 'gameplace', homepage_path, class: 'btn btn-primary' %>
        </div>
    </div>
