
    <div class="card text-center" style="margin-top: 20rem;"">
        <div class="card-body">
          <h5 class="card-title">Gameplace Rails App</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <%= link_to 'gameplace', dashboard_path, class: 'btn btn-primary' %>
        </div>
    </div>
