.row{
  margin-right:-15px;
  margin-left:0px;
}


#dashboard-wrapper{
  width:1110px;
  height:8750px;
  z-index:0;
}

#dashboard-title{
  margin-top: 5rem;
  color:#de3e8e;
  font-weight:200;
}



#tabs{
  border: solid 1px #ececec;
  box-shadow: 0 3000px rgba(0, 0, 0, 0.9) inset;
}

#listings{
  color:white;
  font-weight:bold;
}
#users{
  color:white;
  font-weight:bold;
}
#earnings{
  color:white;
  font-weight:bold;
}
#history{
  color:white;
  font-weight:bold;
}
#faq{
  color:white;
  font-weight:bold;
}



#row1{
  margin:2 0 0 0 auto;
  width:100%;


  #trial{
    background-color: white;
    box-shadow: 0 1px 3px 0 #c2d2dd;
    border-radius:5px;
    width:25rem;
    height:20rem;
    margin:10px;


    #dashboard-cards-title{
      font-weight:200;
      font-size: 3rem;
      color:#de3e8e;
      text-align:center;
    }

    #dashboard-cards-text{
      font-size:12px;
      color:#777777;
    }


    #total-bookings{
      font-weight:200;
      font-size: 4rem;
      color:#de3e8e;
    }


  #pending-bookings{
    background-color: white;
    border-radius:5px;
    box-shadow: 0 1px 3px 0 #c2d2dd;
    width:25rem;
    height:20rem;
    margin:10px;
  }
}

}

#calendar-container{
  background-color: white;
  border-radius:5px;
  box-shadow: 0 1px 3px 0 #c2d2dd;
  margin:10px;
  width:106rem;
  margin-bottom:25px;
  #calendar{
    text-align:center;
    font-size: 1.25rem;
    color:black;
  }
}



h3{
  margin:auto;
  text-align: center;
  color: #444444;
  font-size: 16px;
  line-height: 48px;
  font-weight: 400;
}

p{
  margin-top:2rem;
}

h2{
  padding-bottom:2rem;
}
#client-btn-row{


  #client-btn{
    color:white;
    background-color:#50d3be;
    border-color: #50d3be
  }
}



.centered-table {
  background-color: white;
  border-radius:5px;
  box-shadow: 0 1px 3px 0 #c2d2dd;
  margin-left:25%;
  margin-right:25%;
}
