#edit-form{
  text-align:center;
  background-color:white;
  border-radius:5px;
  padding:0px;
  width:400px;
  padding-top:2rem;
  padding-right:5rem;
  padding-left:5rem;
  padding-bottom:2rem;
}

.field{
  padding-bottom:2rem;

}
