#wrapper{
  margin:0;
  padding-right:250px;
  position: relative;
  height: 100%;
  overflow: scroll;

}

#main-content {

  background: white;
  min-height: 800px;
  margin: 0;
  padding: 0 0 0 0;
}
#main{
  padding-left:0px;
}


#side-nav{
  padding-top:10%;
  position:fixed;
  padding-top:20px;
  }

#home-side-menu, #side-menu{
  border-radius:5px;


  }

  #links-list {
    margin-top: 20px;
    padding: 0;
    font-size: 14px;
    font-size: 1.4rem;
    a {
      display: block;
      padding: 5px 15px;
      margin: 2px 0;
    }
    li {
      min-width: 195px;
      max-width: 195px;
      padding-bottom:2rem;
    }
    li, li a {
      color: black;
      text-decoration: none;
    }
    li:hover {
      border-radius: 50px;
      background: $navbarColor;
    }
    li:hover a, li:hover i {
      color: white;
    }
  }
