.card{
  margin:0 auto;
}
.card-body{
  background-color:white;
  width: 500px;
  height: 500px;
  margin: auto;
  border-radius: 15px;
}
.card-title{
  font-size: 4rem;
  color: $navbarColor;
}
.card-text{
  padding: 20px;
  margin: auto;
}
#home-container{
  background-color: white;
}
