#new-post-container{
  box-shadow: 0 1px 3px 0 #c2d2dd;
  border-radius:10px;
  width:100rem;

}

#newpost{
  text-align: center;
}

#createpost{
  padding-top:5rem;
}

label{
  margin-left:25%;
  padding-bottom:5px;
}

.form-control{
  width:50%;
  margin: 0 auto;
}
