

#newpost{
  padding-top:10rem;
  text-align: center;
}

#createpost{
  padding-top:5rem;
}

#titleinput{
  margin-left:25%;
  padding-bottom:5px;
}

#subjectinput{
  margin-left:25%;
  padding-bottom:5px;
}

#bodyinput{
  margin-left:25%;
  padding-bottom:5px;
}

#titletext{
  width:50%;
  margin: 0 auto;
}


#subjecttext{
  width:50%;
  margin: 0 auto;
}


#bodytext{
  width:50%;
  margin: 0 auto;
}

#newpostsubmit{
  margin-left: 50%;
}
