#sign-up-form {

  margin-top: 100px;
  h1 {
    color:white;
    font-size: 36px !important;
    font-size: 3.6rem !important;
  }
  text-align: center;
  padding-bottom: 20px;
}

#reg-box{
  margin-left:35rem;
  margin-top:2rem;
  background-color:white;
  box-shadow: 0 1px 3px 0 #c2d2dd;
  border-radius:10px;
  width: 40rem;
  padding-top: 2rem !important;
  padding:4rem;
}

#signup{
  margin-top:3rem;
  color:white;
  background-color: #2894D1;
  width: 10rem;
}

#user-email{
  width:32rem;
}
#user-password{
  width:32rem;
}
