#reg-box2{
  padding-top: 2rem;
  margin-left:35rem;
  margin-top:15rem;
  background-color:white;
  box-shadow: 0 1px 3px 0 #c2d2dd;
  border-radius:10px;
  width: 40rem;
  padding-top: 2rem !important;
  padding:4rem;
}

.login-button{
  color:white;
  background-color: #2894D1;
  width: 10rem;
}

#sign-in-box{
  background-color: white;
}

#sign-in-email{
  margin-top:2rem;
}

#login-button{
  margin:auto;
  margin-top:2rem;
}

#remember-me{
  margin:auto;
}

#form-container{
  margin-top:200px;
}
