#active{
  border-radius:2px;
  background-color:green;
  color:white;
  text-align:center;
  width:7rem;
}

#trial{
  border-radius:2px;
  background-color:#c2c210;
  color:white;
  text-align:center;
  width:7rem;
}

#suspended{
  border-radius:2px;
  background-color:#e37272;
  color:white;
  text-align:center;
  width:10rem;
}


#paused{
  border-radius:2px;
  background-color:#0c689f;
  color:white;
  text-align:center;
  width:10rem;
}
