<div class="col-sm-3"id="trial">
  <b><h1 style='text-align:center width:385px' id='trial-suspended'>Account Active</h1></b>


  <div class="row" id='icons'>

    <div class="col-sm-3">
        <i class="far fa-clock fa-lg fa-disabled"></i>
    </div>

    <div class="col-sm-3">
        <i class="fas fa-pause  fa-lg fa-disabled" id='pause'></i>
    </div>

    <div class="col-sm-3">
        <i class="far fa-check-circle fa-lg fa-disabled" id='check'></i>
    </div>

    <div class="col-sm-3">
      <%= button_to suspend_path, id:'suspend', method: :put do %>
        <i class="fas fa-ban fa-lg" id='suspend'></i>
      <% end %>
    </div>

  </div>
</div>
