<div class="col-sm-3"id="approved-bookings">
  <h1 style='text-align:center' id='total-bookings'><%= @approved_bookings%></h1>
  <h3 style='text-align:center'><b><%= link_to 'Approved Reservations', bookings_path(status: 'approved') %> </b></h3>
</div>
