<div class="col-sm-3"id="trial">
  <h1 style='text-align:center; color:#ff7171' id='total-bookings'><%= BookingDecorator.new(@bookings).pending(current_user) %></h1>
  <h3 style='text-align:center'><b><%= link_to 'Pending Reservations', bookings_path(status: 'pending')%> </b></h3>
</div>
