<div class="col-sm-3"id="pending-bookings">
  <h1 style='text-align:center' id='user-posts'><%= @pending_bookings %></h1>
  <h3 style='text-align:center;'><b><%= link_to 'Pending Reservations', bookings_path(status: 'pending')%> </b></h3>
</div>
