<div class="col-sm-3"id="trial">
  <b><h1 style='text-align:center' id='daysleft'><%= current_user.days_left %></h1></b>
  <br><br>

<div class="row" id='icons'>

  <div class="col-sm-4">
    <%= button_to extend_trial_path, id:'renew', method: :put do %>
      <i class="far fa-clock fa-lg"></i>
    <% end %>
  </div>

  <div class="col-sm-4">
    <%= button_to unpause_trial_path, id:'unpause', method: :put do %>
      <i class="fas fa-play  fa-lg" id='play'></i>
    <% end %>
  </div>

  <div class="col-sm-4">
    <i class="far fa-check-circle fa-lg" id='check'></i>
  </div>

</div>
</div>
