<div class="col-sm-3"id="trial">
  <b><h1 style='text-align:center width:385px' id='daysleft'><%= UserDecorator.new(@user).days_left %></h1></b>
  <br><br>

<div class="row" id='icons'>

  <div class="col-sm-3">
      <i class="far fa-clock fa-lg fa-disabled"></i>
  </div>

  <div class="col-sm-3">
    <%= button_to unpause_trial_path, id:'unpause', method: :put do %>
      <i class="fas fa-play  fa-lg" id='play'></i>
    <% end %>
  </div>

  <div class="col-sm-3">
    <%= button_to activate_path, id:'activate', method: :put do %>
      <i class="far fa-check-circle fa-lg" id='check'></i>
      <% end %>
  </div>

  <div class="col-sm-3">
    <%= button_to suspend_path, id:'suspend', method: :put do %>
      <i class="fas fa-ban fa-lg" id='suspend'></i>
    <% end %>
  </div>

</div>
</div>
