<div id="post-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class='row'>
          <div class='col-sm-6'> <%= @post.title %> </div>
          <div class='col-sm-6'>  <button type="button" class="close" data-dismiss="modal">&times;</button> </div>
        </div>
      <div>

        <div class='row' id='post-subheader'>
          <p style='text-align:center'> written by <%= @post.user.name %> </p>
        </div>
        <div class='row' id='post-content'>
          <p style='text-align:center'> <%= @post.content %> </p>
        </div>

        </div>
    </div>
  </div>
</div>
